body {
  text-align: center;
  padding: 0;
  margin: 0;
  height: calc(100vh - 20px);
  background: linear-gradient(#F3EFE0, #3399FF)
}

input {
  /*border: 2px solid blue;
  border-radius: 50px;
  padding-left: 10px;
  width: 20vw;
  margin: 5px;*/
  display: block;
  font-weight:300;
  width: 30vw;
  font-size: 25px;
  border:0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
  background: transparent;
  font-family: Open Sans,Verdana;
  padding: 10px 15px;
  margin: auto;
  margin-bottom: 15px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

input:focus {
  border-bottom:1px solid #ddd;
}

input::placeholder  {
  color: #616d7a;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 20px;
}

button {
  border: 2px solid #767b82;
  background: #b4bbc4;
  width: 100px;
  /*border-radius: 15px;*/
  transform: scale(1.5);
}

span {
  padding: 20px;
  color: white;
  box-shadow: 5px 10px 8px #888888;
  background-color: #3b7ce5;
}

.row {
  display: block;
}

.results {
  margin-top: 25vh;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 40px;
  animation-name: results;
  animation-duration: 1s;
}

.green {
  background-color: #009966 !important;
}

.yellow {
  background-color:#ffde33 !important;
}

.orange {
  background-color:#ff9933 !important;
}

.red {
  background-color:#cc0033 !important;
}

@keyframes results {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

